.c-search-form
  margin-bottom: -16px !important
  .ant-form-item
    margin-bottom: 16px !important
  .ant-form-item-no-colon
    background-color: rgba(0, 0, 0, 0.04)
    border-radius: 6px 0 0 6px
    padding-left: 8px
    padding-right: 8px
    &::after
      display: none
  .ant-form-item-control
    .ant-select-selector
      border-radius: 0
